src/test/resources/automation-test-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:cassandra-db="http://www.mulesoft.org/schema/mule/cassandra-db"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cassandra-db http://www.mulesoft.org/schema/mule/cassandra-db/current/mule-cassandra-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <configuration-properties file="automation-credentials.properties"/>

    <cassandra-db:config name="CassandraDB_Config" doc:name="CassandraDB Config" doc:id="72442113-b403-4d56-ae65-ec181af222b7" >
        <cassandra-db:connection host="${config.host}" port="${config.port}" keyspace="${config.keyspace}" />
    </cassandra-db:config>

    <flow name="createKeyspace-flow" doc:id="56defe09-c6a4-4405-9870-23ee1f5ed3ee" >
        <cassandra-db:create-keyspace doc:name="Create keyspace" doc:id="fd440328-2b3d-4192-85db-6184569ed5cc" config-ref="CassandraDB_Config">
        </cassandra-db:create-keyspace>
    </flow>

    <flow name="deleteKeyspace-flow" doc:id="6e8378e9-2d2e-472d-b30a-6248c80dc37b" >
        <cassandra-db:drop-keyspace doc:name="Drop keyspace" doc:id="773cd789-a71a-440a-88a8-5ab16a7e0487" config-ref="CassandraDB_Config" keyspaceName="#[vars.keyspaceName]"/>
    </flow>

    <flow name="createTable-flow" doc:id="6e8378e9-2d2e-472d-b30a-6248c80dc37b" >
        <cassandra-db:create-table doc:name="Create table" doc:id="710999ed-cea1-4b17-94b9-d0ee9a703f7b" config-ref="CassandraDB_Config"/>
    </flow>

    <flow name="dropTable-flow" doc:id="b089036d-9344-4fbf-9c86-0148efcd52b9" >
        <cassandra-db:drop-table doc:name="Drop table" doc:id="8b383719-4f86-49a4-9332-b42bbe7e9c47" config-ref="CassandraDB_Config" tableName="#[vars.tableName]" keyspaceName="#[vars.keyspaceName]"/>
    </flow>

    <flow name="addColumn-flow" doc:id="b089036d-9344-4fbf-9c86-0148efcd52b9" >
        <cassandra-db:add-new-column doc:name="Add new column" doc:id="ec493f78-6a4e-42df-ad83-74b762099593" config-ref="CassandraDB_Config" table="#[vars.tableName]" keyspaceName="#[vars.keyspaceName]"/>
    </flow>

    <flow name="dropColumn-flow" doc:id="4768c8ea-e151-4f6b-b710-7fef94b56914" >
        <cassandra-db:drop-column doc:name="Drop column" doc:id="35f8c437-83f5-4d24-85ab-46fab50375a0" config-ref="CassandraDB_Config" table="#[vars.tableName]" keyspaceName="#[vars.keyspaceName]"/>
    </flow>

    <flow name="renameColumn-flow" doc:id="4768c8ea-e151-4f6b-b710-7fef94b56914" >
        <cassandra-db:rename-column doc:name="Rename column" doc:id="35f8c437-83f5-4d24-85ab-46fab50375a0" config-ref="CassandraDB_Config" table="#[vars.tableName]" keyspaceName="#[vars.keyspaceName]" newColumnName="#[vars.newColumnName]"/>
    </flow>

    <flow name="changeColumnType-flow" doc:id="4768c8ea-e151-4f6b-b710-7fef94b56914" >
        <cassandra-db:change-column-type doc:name="Change column" doc:id="35f8c437-83f5-4d24-85ab-46fab50375a0" config-ref="CassandraDB_Config" table="#[vars.tableName]" keyspaceName="#[vars.keyspaceName]"/>
    </flow>

    <flow name="getTableNamesFromKeyspace-flow" doc:id="4768c8ea-e151-4f6b-b710-7fef94b56914" >
        <cassandra-db:get-table-names-from-keyspace config-ref="CassandraDB_Config" keyspaceName="#[vars.keyspaceName]"/>
    </flow>

    <flow name="insert-flow" doc:id="4768c8ea-e151-4f6b-b710-7fef94b56914" >
        <cassandra-db:insert config-ref="CassandraDB_Config" keyspaceName="#[vars.keyspaceName]" table="#[vars.tableName]"/>
    </flow>

    <flow name="update-flow" doc:id="4768c8ea-e151-4f6b-b710-7fef94b56914" >
        <cassandra-db:update config-ref="CassandraDB_Config" keyspaceName="#[vars.keyspaceName]" table="#[vars.tableName]"/>
    </flow>

    <flow name="executeCQLQuery-flow" doc:id="4768c8ea-e151-4f6b-b710-7fef94b56914" >
        <cassandra-db:execute-cql-query config-ref="CassandraDB_Config" />
    </flow>

    <flow name="select-flow" doc:id="4768c8ea-e151-4f6b-b710-7fef94b56914" >
        <cassandra-db:select config-ref="CassandraDB_Config" parameters="#[vars.parameters]">
            <cassandra-db:query >#[payload]</cassandra-db:query>
        </cassandra-db:select>
    </flow>
</mule>
