src/test/resources/automation-test-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:cassandradb="http://www.mulesoft.org/schema/mule/cassandradb"
        xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
        xmlns="http://www.mulesoft.org/schema/mule/core"
        version="EE-3.5.1"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.mulesoft.org/schema/mule/cassandradb http://www.mulesoft.org/schema/mule/cassandradb/current/mule-cassandradb.xsd">

    <context:property-placeholder location="${CASSANDRADB_CREDENTIALS}"/>

    <cassandradb:config name="CassandraDB" username="${cassandra.username}" password="${cassandra.password}"
                        host="${cassandra.host}" port="${cassandra.port}" keyspace="${cassandra.keyspace}"
                        consistencyLevel="${cassandra.consistencyLevel}">
        <cassandradb:connection-pooling-profile initialisationPolicy="INITIALISE_ONE"
                                                exhaustedAction="WHEN_EXHAUSTED_GROW"/>
    </cassandradb:config>

    <flow name="add" doc:name="add">
        <cassandradb:add rowKey="#[flowVars.rowKey]" columnParent="#[flowVars.columnParent]"
                         counterName="#[flowVars.counterName]" counterValue="#[flowVars.counterValue]"
                         config-ref="CassandraDB" doc:name="CassandraDB"/>
    </flow>

    <flow name="batch-mutable" doc:name="batch-mutable">
        <cassandradb:batch-mutable
                config-ref="CassandraDB" doc:name="CassandraDB">
            <cassandradb:content ref="#[flowVars.content]"/>
        </cassandradb:batch-mutable>
    </flow>

    <flow name="describe-cluster-name" doc:name="describe-cluster-name">
        <cassandradb:describe-cluster-name config-ref="CassandraDB" doc:name="CassandraDB"/>
    </flow>

    <flow name="describe-keyspace" doc:name="describe-keyspace">
        <cassandradb:describe-keyspace config-ref="CassandraDB" keyspace="#[flowVars.keyspace]"
                                       doc:name="CassandraDB"/>
    </flow>

    <flow name="describe-keyspaces" doc:name="describe-keyspaces">
        <cassandradb:describe-keyspaces config-ref="CassandraDB" doc:name="CassandraDB"/>
    </flow>

    <flow name="describe-partitioner" doc:name="describe-partitioner">
        <cassandradb:describe-partitioner config-ref="CassandraDB" doc:name="CassandraDB"/>
    </flow>

    <flow name="describe-ring" doc:name="describe-ring">
        <cassandradb:describe-ring config-ref="CassandraDB" keyspace="#[flowVars.keyspace]" doc:name="CassandraDB"/>
    </flow>

    <flow name="describe-schema-versions" doc:name="describe-schema-versions">
        <cassandradb:describe-schema-versions config-ref="CassandraDB" doc:name="CassandraDB"/>
    </flow>

    <flow name="describe-snitch" doc:name="describe-snitch">
        <cassandradb:describe-snitch config-ref="CassandraDB" doc:name="CassandraDB"/>
    </flow>

    <flow name="describe-version" doc:name="describe-version">
        <cassandradb:describe-version config-ref="CassandraDB" doc:name="CassandraDB"/>
    </flow>

    <flow name="execute-cql-query" doc:name="execute-cql-query">
        <cassandradb:execute-cql-query config-ref="CassandraDB" query="#[flowVars.query]" doc:name="CassandraDB"/>
    </flow>

    <flow name="get" doc:name="get">
        <cassandradb:get config-ref="CassandraDB" columnPath="#[flowVars.columnPath]" rowKey="#[flowVars.rowKey]"
                         doc:name="CassandraDB"/>
    </flow>

    <flow name="get-count" doc:name="get-count">
        <cassandradb:get-count config-ref="CassandraDB" columnParent="#[flowVars.columnParent]"
                               rowKey="#[flowVars.rowKey]"
                               doc:name="CassandraDB"/>
    </flow>

    <flow name="get-indexed-slices" doc:name="get-indexed-slices">
        <cassandradb:get-indexed-slices config-ref="CassandraDB" columnParent="#[flowVars.columnFamily]"
                                        clauseStartKey="#[flowVars.startKey]"
                                        doc:name="CassandraDB">
            <cassandradb:expression-list ref="#[flowVars.expressionList]"/>
        </cassandradb:get-indexed-slices>
    </flow>

    <flow name="get-range-slices" doc:name="get-range-slices">
        <cassandradb:get-range-slices config-ref="CassandraDB" columnParent="#[flowVars.columnFamily]"
                                      startKey="#[flowVars.startKey]" endKey="#[flowVars.endKey]"
                                      doc:name="CassandraDB"/>
    </flow>

    <flow name="get-row" doc:name="get-row">
        <cassandradb:get-row config-ref="CassandraDB" rowKey="#[flowVars.rowKey]" doc:name="CassandraDB">
            <cassandradb:column-path ref="#[flowVars.columnPath]"/>
        </cassandradb:get-row>
    </flow>

    <flow name="get-slice" doc:name="get-slice">
        <cassandradb:get-slice config-ref="CassandraDB" rowKey="#[flowVars.rowKey]"
                               columnParent="#[flowVars.columnParent]" doc:name="CassandraDB"/>
    </flow>

    <flow name="insert" doc:name="insert">
        <cassandradb:insert config-ref="CassandraDB" columnParent="#[flowVars.columnParent]" rowKey="#[flowVars.rowKey]"
                            columnName="#[flowVars.columnName]" columnValue="#[flowVars.columnValue]"
                            doc:name="CassandraDB"/>
    </flow>

    <flow name="insert-from-map" doc:name="insert-from-map">
        <cassandradb:insert-from-map config-ref="CassandraDB" doc:name="CassandraDB">
            <cassandradb:content ref="#[flowVars.content]"/>
        </cassandradb:insert-from-map>
    </flow>

    <flow name="multiget-count" doc:name="multiget-count">
        <cassandradb:multiget-count columnParent="#[flowVars.columnParent]" config-ref="CassandraDB"
                                    doc:name="CassandraDB">
            <cassandradb:row-keys ref="#[flowVars.rowKeys]"/>
        </cassandradb:multiget-count>
    </flow>

    <flow name="multiget-slice" doc:name="multiget-slice">
        <cassandradb:multiget-slice columnParent="#[flowVars.columnParent]" config-ref="CassandraDB"
                                    doc:name="CassandraDB">
            <cassandradb:row-keys ref="#[flowVars.rowKeys]"/>
        </cassandradb:multiget-slice>
    </flow>

    <flow name="remove" doc:name="remove">
        <cassandradb:remove rowKey="#[flowVars.rowKey]" columnPath="#[flowVars.columnPath]" config-ref="CassandraDB"
                            doc:name="CassandraDB"/>
    </flow>

    <flow name="remove-counter" doc:name="remove-counter">
        <cassandradb:remove-counter rowKey="#[flowVars.rowKey]" columnPath="#[flowVars.columnPath]"
                                    config-ref="CassandraDB"
                                    doc:name="CassandraDB"/>
    </flow>

    <flow name="set-query-keyspace" doc:name="set-query-keyspace">
        <cassandradb:set-query-keyspace config-ref="CassandraDB" value="#[flowVars.keyspace]"
                                        doc:name="CassandraDB"/>
    </flow>

    <flow name="system-add-column-family-from-object" doc:name="system-add-column-family-from-object">
        <cassandradb:system-add-column-family-from-object config-ref="CassandraDB" doc:name="CassandraDB">
            <cassandradb:cf-definition ref="#[flowVars.cfDefinition]"/>
        </cassandradb:system-add-column-family-from-object>
    </flow>

    <flow name="system-add-column-family-from-object-with-simple-names"
          doc:name="system-add-column-family-from-object-with-simple-names">
        <cassandradb:system-add-column-family-from-object-with-simple-names config-ref="CassandraDB"
                                                                            doc:name="CassandraDB">
            <cassandradb:cf-definition ref="#[flowVars.cfDefinition]"/>
            <cassandradb:column-names ref="#[flowVars.columnNames]"/>
        </cassandradb:system-add-column-family-from-object-with-simple-names>
    </flow>

    <flow name="system-add-column-family-with-params" doc:name="system-add-column-family-with-params">
        <cassandradb:system-add-column-family-with-params config-ref="CassandraDB" doc:name="CassandraDB"
                                                          columnFamilyName="#[flowVars.columnFamily]"
                                                          keyspace="#[flowVars.keyspace]"
                                                          comparatorType="#[flowVars.comparatorType]"
                                                          keyValidationClass="#[flowVars.keyValidationClass]">
            <cassandradb:column-metadata ref="#[flowVars.columnMetaData]"/>
        </cassandradb:system-add-column-family-with-params>
    </flow>

    <flow name="system-add-keyspace-from-object" doc:name="system-add-keyspace-from-object">
        <cassandradb:system-add-keyspace-from-object config-ref="CassandraDB" doc:name="CassandraDB">
            <cassandradb:keyspace-definition ref="#[flowVars.keyspaceDef]"/>
        </cassandradb:system-add-keyspace-from-object>
    </flow>

    <flow name="system-add-keyspace-with-params" doc:name="system-add-keyspace-with-params">
        <cassandradb:system-add-keyspace-with-params config-ref="CassandraDB" keyspaceName="#[flowVars.keyspace]"
                                                     strategyClass="#[flowVars.strategy]" doc:name="CassandraDB">
            <cassandradb:column-names ref="#[flowVars.columns]"/>
            <cassandradb:strategy-options ref="#[flowVars.options]"/>
        </cassandradb:system-add-keyspace-with-params>
    </flow>

    <flow name="system-drop-column-family" doc:name="system-drop-column-family">
        <cassandradb:system-drop-column-family config-ref="CassandraDB" columnFamily="#[flowVars.columnFamily]"
                                               doc:name="CassandraDB"/>
    </flow>

    <flow name="system-drop-keyspace" doc:name="system-drop-keyspace">
        <cassandradb:system-drop-keyspace config-ref="CassandraDB" keyspace="#[flowVars.keyspace]"
                                          doc:name="CassandraDB"/>
    </flow>

    <flow name="system-update-column-family" doc:name="system-update-column-family">
        <cassandradb:system-update-column-family config-ref="CassandraDB" doc:name="CassandraDB">
            <cassandradb:column-family ref="#[flowVars.columnFamilyDef]"/>
        </cassandradb:system-update-column-family>
    </flow>

    <flow name="system-update-keyspace" doc:name="system-update-keyspace">
        <cassandradb:system-update-keyspace config-ref="CassandraDB" doc:name="CassandraDB">
            <cassandradb:keyspace-def ref="#[flowVars.ksDef]"/>
        </cassandradb:system-update-keyspace>
    </flow>

    <flow name="truncate" doc:name="truncate">
        <cassandradb:truncate config-ref="CassandraDB" doc:name="CassandraDB" columnFamily="#[flowVars.columnFamily]"/>
    </flow>
</mule>