src/test/resources/automation-test-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:cassandra-db="http://www.mulesoft.org/schema/mule/cassandra-db"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cassandra-db http://www.mulesoft.org/schema/mule/cassandra-db/current/mule-cassandra-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <configuration-properties file="automation-credentials.properties"/>

    <cassandra-db:config name="Cassandra_Config">
        <cassandra-db:connection host="${config.host}" port="${config.port}" keyspace="${config.keyspace}" />
    </cassandra-db:config>

    <flow name="createKeyspace-flow">
        <cassandra-db:create-keyspace config-ref="Cassandra_Config"/>
    </flow>

    <flow name="deleteKeyspace-flow" >
        <cassandra-db:drop-keyspace config-ref="Cassandra_Config" keyspaceName="#[vars.keyspaceName]"/>
    </flow>

    <flow name="createTable-flow">
        <cassandra-db:create-table config-ref="Cassandra_Config"/>
    </flow>

    <flow name="dropTable-flow" >
        <cassandra-db:drop-table config-ref="Cassandra_Config" tableName="#[vars.tableName]" keyspaceName="#[vars.keyspaceName]"/>
    </flow>

    <flow name="addColumn-flow" >
        <cassandra-db:add-new-column config-ref="Cassandra_Config" table="#[vars.tableName]" keyspaceName="#[vars.keyspaceName]"/>
    </flow>

    <flow name="dropColumn-flow" >
        <cassandra-db:drop-column config-ref="Cassandra_Config" table="#[vars.tableName]" keyspaceName="#[vars.keyspaceName]"/>
    </flow>

    <flow name="renameColumn-flow" >
        <cassandra-db:rename-column config-ref="Cassandra_Config" table="#[vars.tableName]" keyspaceName="#[vars.keyspaceName]" newColumnName="#[vars.newColumnName]"/>
    </flow>

    <flow name="changeColumnType-flow" >
        <cassandra-db:change-column-type config-ref="Cassandra_Config" table="#[vars.tableName]" keyspaceName="#[vars.keyspaceName]"/>
    </flow>

    <flow name="getTableNamesFromKeyspace-flow" >
        <cassandra-db:get-table-names-from-keyspace config-ref="Cassandra_Config" keyspaceName="#[vars.keyspaceName]"/>
    </flow>

    <flow name="insert-flow" >
        <cassandra-db:insert config-ref="Cassandra_Config" keyspaceName="#[vars.keyspaceName]" table="#[vars.tableName]"/>
    </flow>

    <flow name="update-flow" >
        <cassandra-db:update config-ref="Cassandra_Config" keyspaceName="#[vars.keyspaceName]" table="#[vars.tableName]"/>
    </flow>

    <flow name="executeCQLQuery-flow" >
        <cassandra-db:execute-cql-query config-ref="Cassandra_Config" />
    </flow>

    <flow name="select-flow" >
        <cassandra-db:select config-ref="Cassandra_Config" parameters="#[vars.parameters]">
            <cassandra-db:query >#[payload]</cassandra-db:query>
        </cassandra-db:select>
    </flow>

    <flow name="deleteColumnsValue-flow" >
        <cassandra-db:delete-columns-value config-ref="Cassandra_Config" keyspaceName="#[vars.keyspaceName]" table="#[vars.tableName]"/>
    </flow>

    <flow name="deleteRows-flow" >
        <cassandra-db:delete-rows config-ref="Cassandra_Config" keyspaceName="#[vars.keyspaceName]" table="#[vars.tableName]"/>
    </flow>
</mule>
