src/test/resources/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule Development Kit
    Copyright 2010-2011 (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:json="http://www.mulesoft.org/schema/mule/json"
      xmlns:cassandradb="http://www.mulesoft.org/schema/mule/cassandradb"
      xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/cassandradb http://www.mulesoft.org/schema/mule/cassandradb/current/mule-cassandradb.xsd 
        http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">

    <cassandradb:config name="myCassandraDB"
                        host="localhost" port="9160"
                        keyspace="FirstTest"
                        username="xxx" password="yyy"
                        consistencyLevel="ONE"/>

    <flow name="testFlow">
        <json:json-to-object-transformer returnClass="java.util.Map"/>
        <logger level="INFO" message="************** PAYLOAD IS #[payload:]"/>
        <cassandradb:insert/>
    </flow>

    <flow name="testGetDataFlow">
        <cassandradb:get rowKey="#[payload:]" columnPath="ToyStores:Transformer">
            <cassandradb:column-serializers>
                <cassandradb:column-serializer key="Section" type="java.lang.String"/>
                <cassandradb:column-serializer key="Price" type="java.lang.Double"/>
            </cassandradb:column-serializers>
        </cassandradb:get>
        <logger level="INFO" message="************** PAYLOAD IS #[payload:]"/>
    </flow>

    <flow name="testGetSlice">
        <cassandradb:get-slice rowKey="#[payload:]" columnParent="ToyStores"
                               count="2">
            <cassandradb:column-serializers>
                <cassandradb:column-serializer key="Section" type="java.lang.String"/>
                <cassandradb:column-serializer key="Price" type="java.lang.Double"/>
            </cassandradb:column-serializers>
        </cassandradb:get-slice>
        <logger level="INFO" message="************** PAYLOAD IS #[payload:]"/>
    </flow>

    <flow name="testRemoveRow">
        <cassandradb:remove rowKey="#[payload:]" columnPath="ToyStores"/>
    </flow>


</mule>
