src/test/resources/functional/mule-object-store-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule Development Kit
    Copyright 2010-2011 (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:json="http://www.mulesoft.org/schema/mule/json"
      xmlns:cassandradb="http://www.mulesoft.org/schema/mule/cassandradb"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core
        http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/cassandradb
        http://www.mulesoft.org/schema/mule/cassandradb/current/mule-cassandradb.xsd
        http://www.mulesoft.org/schema/mule/vm
        http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
        http://www.mulesoft.org/schema/mule/json
        http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">


    <spring:bean id="cassandraObjectStore" class="com.mulesoft.mule.cassandradb.CassandraDBObjectStore"
                 scope="singleton">
        <!--<spring:property name="username" value="xxx"/>-->
        <!--<spring:property name="password" value="xxx"/>-->
        <spring:property name="host" value="localhost"/>
        <spring:property name="port" value="9160"/>
        <spring:property name="keyspace" value="FirstTest"/>
        <spring:property name="consistencyLevel" value="ONE"/>
    </spring:bean>

    <flow name="idempotentReception">
        <vm:inbound-endpoint path="in"/>
        <idempotent-message-filter idExpression="#[payload]">
            <spring-object-store ref="cassandraObjectStore"/>
        </idempotent-message-filter>
        <logger level="INFO" message="FOO"/>
        <vm:outbound-endpoint path="out"/>
    </flow>


</mule>