demo/cassandradbdemo/src/main/app/CassandraDBDemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
      xmlns:json="http://www.mulesoft.org/schema/mule/json"
      xmlns:cassandradb="http://www.mulesoft.org/schema/mule/cassandradb"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/cassandradb http://www.mulesoft.org/schema/mule/cassandradb/current/mule-cassandradb.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>
    <cassandradb:config name="CassandraDB" username="${username}" password="${password}"   doc:name="CassandraDB" keyspace="${keyspace}" host="${host}" port="${port}"/>
    <flow name="HTMLForm">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <parse-template location="form.html" doc:name="Parse Template"/>
        <set-property propertyName="content-type" value="text/html" encoding="US-ASCII" mimeType="text/html" doc:name="Property"/>
    </flow>
    <flow name="CreateKeyspace">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/createKeyspace" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	"keyspaceName": payload.keyspaceName,
	"replicationFactor": payload.replicationFactor,
	"replicationStrategyClass": payload.replicationStrategyClass
} as :object {
	class : "org.mule.modules.cassandradb.metadata.CreateKeyspaceInput"
}]]></dw:set-payload>
        </dw:transform-message>
        <cassandradb:create-keyspace config-ref="CassandraDB" doc:name="CassandraDB"/>

        <json:object-to-json-transformer doc:name="Object to JSON"/>

    </flow>
    <flow name="DropKeyspace">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/dropKeyspace" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <cassandradb:drop-keyspace config-ref="CassandraDB" keyspaceName="#[payload.keyspaceName]" doc:name="CassandraDB"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="CreateTable">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/createTable" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	"columns": payload.columns,
	"tableName": payload.tableName,
	"keyspaceName": payload.keyspaceName
} as :object {
	class : "org.mule.modules.cassandradb.metadata.CreateTableInput"
}]]></dw:set-payload>
        </dw:transform-message>
        <cassandradb:create-table config-ref="CassandraDB" doc:name="CassandraDB" />

        <json:object-to-json-transformer doc:name="Object to JSON"/>

    </flow>
    <flow name="DropTable">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/dropTable" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <cassandradb:drop-table config-ref="CassandraDB" keyspaceName="#[payload.keyspaceName]" tableName="#[payload.tableName]" doc:name="CassandraDB"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="GetTablesFromKeyspace">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/getTablesFromKeyspace" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload
]]></dw:set-payload>
        </dw:transform-message>
        <cassandradb:get-table-names-from-keyspace config-ref="CassandraDB" keyspaceName="#[payload.keyspaceName]" doc:name="CassandraDB"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="Insert">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/insert" doc:name="HTTP"/>
        <set-variable variableName="tableName" value="DEMO" doc:name="Variable"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	"id": payload.id,
	"name": payload.name,
	"event": payload.event
}]]></dw:set-payload>
        </dw:transform-message>
        <cassandradb:insert config-ref="CassandraDB" table="demo_table" doc:name="CassandraDB" keyspaceName="demo_keyspace"/>

        <json:object-to-json-transformer doc:name="Object to JSON"/>

    </flow>
    <flow name="Update">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/update" allowedMethods="POST" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	"where":{
		id: payload.where
	},
	"columns":payload.columns
}]]></dw:set-payload>
            <dw:set-variable variableName="Parameters"><![CDATA[%dw 1.0
%output application/java
---
{
	"whereClause":payload.whereClause
}]]></dw:set-variable>
        </dw:transform-message>
        <cassandradb:update config-ref="CassandraDB" table="demo_table" doc:name="CassandraDB" keyspaceName="demo_keyspace" />


        <json:object-to-json-transformer doc:name="Object to JSON"/>

    </flow>
    <flow name="Execute_Cql_Query">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/executeCqlQuery" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	"cqlQuery": payload.cqlQuery,
	"parameters": payload.parameters
}
as :object {
	class : "org.mule.modules.cassandradb.metadata.CQLQueryInput"
}
]]></dw:set-payload>
            <dw:set-variable variableName="Parameters"><![CDATA[%dw 1.0
%output application/java
---
payload.parameters]]></dw:set-variable>
        </dw:transform-message>
        <cassandradb:execute-c-q-l-query config-ref="CassandraDB" doc:name="CassandraDB"/>

        <json:object-to-json-transformer doc:name="Object to JSON"/>

    </flow>

    <flow name="Delete_Rows">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/deleteRows" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	"where": {
		id: payload.ids
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <cassandradb:delete-rows config-ref="CassandraDB" keyspaceName="demo_keyspace" table="demo_table" doc:name="CassandraDB"/>

        <json:object-to-json-transformer doc:name="Object to JSON"/>

    </flow>
    <flow name="Delete_Columns">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/deleteColumns" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	"columns": payload.columns,
	"where": {
		id:payload.where
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <cassandradb:delete-columns-value config-ref="CassandraDB" table="demo_table" doc:name="CassandraDB" keyspaceName="demo_keyspace"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>


    </flow>

    <flow name="Select">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/select" doc:name="HTTP"/>
        <cassandradb:select config-ref="CassandraDB" query="dsql:SELECT id, name, event FROM demo_keyspace.demo_table" doc:name="CassandraDB"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>

    <flow name="Change_Column_Type">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/changeColumnType" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <set-variable variableName="keyspaceName" value="#[payload.keyspaceName]" doc:name="Variable"/>
        <set-variable variableName="tableName" value="#[payload.tableName]" doc:name="Variable"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	"column": payload.column,
	"type": payload.type
} as :object {
	class : "org.mule.modules.cassandradb.metadata.AlterColumnInput"
}]]></dw:set-payload>
        </dw:transform-message>
        <cassandradb:change-column-type config-ref="CassandraDB" table="#[flowVars['tableName']]" doc:name="CassandraDB" keyspaceName="#[flowVars['keyspaceName']]"/>

        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="Add_new_column">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/addNewColumn" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <set-variable variableName="keyspaceName" value="#[payload.keyspaceName]" doc:name="Variable"/>
        <set-variable variableName="tableName" value="#[payload.tableName]" doc:name="Variable"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	"column": payload.column,
	"type": payload.type
} as :object {
	class : "org.mule.modules.cassandradb.metadata.AlterColumnInput"
}]]></dw:set-payload>
        </dw:transform-message>
        <cassandradb:add-new-column config-ref="CassandraDB" table="#[flowVars['tableName']]" doc:name="CassandraDB" keyspaceName="#[flowVars['keyspaceName']]"/>

        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="Remove_Column">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/removeColumn" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <cassandradb:drop-column config-ref="CassandraDB" table="#[payload.tableName]" doc:name="CassandraDB" columnName="#[payload.columnName]" keyspaceName="#[payload.keyspaceName]"/>

        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="Rename_Column">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/renameColumn" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>

        <cassandradb:rename-column config-ref="CassandraDB" table="#[payload.tableName]" doc:name="CassandraDB" newColumnName="#[payload.newName]" oldColumnName="#[payload.oldName]" keyspaceName="#[payload.keyspaceName]"/>

        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>

</mule>
